name: Deploy to Yandex Cloud

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: actions/checkout@v3
      - name: Write google service account JSON
        run: echo "${{ secrets.GC_SERVICE_ACCOUNT }}" > service-account.json

      - name: Deploy Function to Yandex Cloud
        uses: yc-actions/yc-sls-function@v4
        with:
          yc-sa-json-credentials: ${{ secrets.YC_SERVICE_ACCOUNT_KEY }}
          folder-id: ${{ secrets.YC_FOLDER_ID }}
          function-name: load-schedule
          runtime: nodejs22
          entrypoint: src/handler.handler
          include: |
            src/
            package.json
            package-lock.json
            service-account.json
          exclude: |
            node_modules/
            .git/
            .github/
          tags: |
            latest
            build-${{ github.run_number }}
            commit-${{ github.sha }}
          environment: |
            NODE_ENV=production
            CALENDAR_ID=${{ secrets.GC_CALENDAR_ID }}
            SCHEDULE_API_URL=https://study.miigaik.ru/api/v1/group/1512
          async: true
          memory: "128Mb"
          execution-timeout: 10s
