name: Deploy to Yandex Cloud

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy Function to Yandex Cloud
        uses: yc-actions/yc-sls-function@v4
        with:
          yc-sa-json-credentials: ${{ secrets.YC_SERVICE_ACCOUNT_KEY }}
          folder-id: ${{ secrets.YC_FOLDER_ID }}
          function-name: load-schedule
          runtime: nodejs22
          entrypoint: src/handler.handler
          include: |
            src/
            package.json
            package-lock.json
          exclude: |
            node_modules/
            .git/
            .github/
          tags: |
            latest
            build-${{ github.run_number }}
            commit-${{ github.sha }}
          environment: |
            NODE_ENV=production
            CALENDAR_ID=primary
            SCHEDULE_API_URL=https://study.miigaik.ru/api/v1/group/1512
            GOOGLE_REDIRECT_URI=https://developers.google.com/oauthplayground
          secrets: |
            GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}
            GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }}
            GOOGLE_REFRESH_TOKEN=${{ secrets.GOOGLE_REFRESH_TOKEN }}
          async: true
          memory: "128Mb"
          execution-timeout: 10s
